[package]
name = "mdbook-plantuml"
version = "0.9.0"
authors = ["Sytse Reitsma <mdbook-plantuml@sreitsma.nl>"]
description = "A preprocessor for mdbook which will convert plantuml code blocks into inline SVG diagrams"
license = "MIT"
documentation = "https://docs.rs/mdbook-plantuml"
repository = "https://github.com/sytsereitsma/mdbook-plantuml"
readme = "README.md"
keywords = ["mdbook", "plantuml", "markdown", "commonmark"]
exclude = [
    "tests/e2etest",
]
edition = "2018"

[[bin]]
name = "mdbook-plantuml"
path = "src/bin/mdbook-plantuml.rs"
doc = false

[features]
default = ["plantuml-ssl-server"]
exp-cmdline-pipe = []
plantuml-server = ["reqwest", "deflate"]
plantuml-ssl-server = ["reqwest/default-tls", "deflate"]

[dependencies]
mdbook = { version = "0.4.20", default-features = false }
serde = { version = "1.0.139", features = ["derive"] }
serde_json = "1.0.82"
log = "0.4.17"
clap = { version = "3.2.12", features = ["derive"] }
log4rs = "1.1.1"
reqwest = { version = "0.11.11", optional = true, features = ["blocking"], default-features = false }
deflate = { version = "1.0.0", optional = true }
sha1 = "0.10.1"
base64 = "=0.20.0-alpha.1"
anyhow = "1.0.58"
tempfile = "3.3.0"
base16ct = { version = "0.1.1", features = ["alloc"] }

[dev-dependencies]
pretty_assertions = "1.2.1"
simulacrum = "0.3.1"
