[package]
name = "mdbook-plantuml"
version = "0.8.0"
authors = ["Sytse Reitsma <mdbook-plantuml@sreitsma.nl>"]
description = "A preprocessor for mdbook which will convert plantuml code blocks into inline SVG diagrams"
license = "MIT"
documentation = "https://docs.rs/mdbook-plantuml"
repository = "https://github.com/sytsereitsma/mdbook-plantuml"
readme = "README.md"
keywords = ["mdbook", "plantuml", "markdown", "commonmark"]
exclude = [
    "tests/e2etest",
]
edition = "2018"
rust-version = "1.64.0"

[features]
default = ["plantuml-ssl-server"]
plantuml-server=["reqwest", "deflate"]
plantuml-ssl-server=["reqwest/rustls-tls", "deflate"]

[dependencies]
mdbook = { version = "0.4.21", default-features = false }
serde = { version = "1.0.145", features = ["derive"] }
serde_json = "1.0.85"
log = "0.4.17"
clap = { version = "4.1.4", features = ["derive"] }
log4rs = "1.1.1"
reqwest = { version = "0.11.12", optional = true, features = ["blocking"], default-features = false }
deflate = { version = "1.0.0", optional = true }
sha1 = "0.10.5"
base64 = "0.20.0"
anyhow = "1.0.65"
tempfile = "3.3.0"
base16ct = { version = "0.1.1", features = ["alloc"] }
shlex = "1.1.0"
dunce="1.0.3" # Alternative for std::Path::canonicalize that produces the regular paths on windows (instead of UNC paths)

[dev-dependencies]
pretty_assertions = "1.2.1"
simulacrum = "0.3.1"
